body {
    margin: 0;
    padding: 0 10% 5% ;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
      to left,
      rgb(246, 250, 250) 0%,
      rgb(147, 148, 148) 100%
    );
    background-repeat: no-repeat;
    text-align: center;
  }
  
  
  .app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 60px;
  color:rgb(38, 48, 48);
  font-family: 'Pangolin', cursive;
  
  }
  